.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #0070c0;
  border-bottom: 1px solid #ddd;

  &__left, &__right {
    display: flex;
    align-items: center;
    gap: 1rem;

    a, .total-rewards-points {
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}